@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  background: #fff;
  transition: 0.5s ease-in-out;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 100px;
  border-radius: 50%;
}

span {
  font-size: 5.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background: linear-gradient(135deg, #00C6FF, #8E2DE2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* safe fallback */
}

header ul {
  display: flex;
  gap: 40px;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  font-weight: 500;
  font-style: 1.2rem;
  color: #333;
  transition: 0.5s;
}

.content {
  position: relative;
  min-width: 700px;
}

.content h1 {
  font-size: 5.5rem;
  color: #333;
  transition: 0.5s;
}

.content h1 span {
  color: linear-gradient(135deg, #00c6ff, #8e2de2);
}

.content p{
 font-size: 1.2rem;
 color: #666;
 margin: 10px 0;
 transition: 0.5s;
}

.content button{
 position: relative;
 background: linear-gradient(135deg, #00C6FF, #8E2DE2);
 color: #fff;
 border: none;
 outline:  none;
 padding: 15px 35px;
 font-size: 1.25rem;
 letter-spacing: 0.5rem;
 margin-right: 20px;
 border-radius: 20px;
 cursor: pointer;
 transition: 0.5s;
 font-weight: 600;
}

.content button.chat{
 background: transparent;
 color: #333;
}

.dayNight{
 position: absolute;
 bottom: 25px;
 left: 50%;
 width: 50px;
 height: 50px;
 background-color: #f0f0f0;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 transition: 0.5s;
}

.dayNight img {
  position: absolute;
  width: 26px;
  height: 26px;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.dayNight img:nth-child(2),
.banner.night .dayNight img:nth-child(1){
 display: none;
}
.banner.night .dayNight img:nth-child(2){
 display: block;
}
.banner.night{
 background:#333;
}

.banner.night .dayNight{
 color: #9A9A9A;
 background: #444;
}

.banner.night header .logo,
.banner.night .content h1,
.banner.night .content p,
.banner.night .content button.chat,
.banner.night header ul li a{
 color: #bbbbbb;
}